.select-tab {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

.cursor-pointer{
    cursor: pointer;
}

table, thead, tr, tbody, th, td {
  text-align: center;
}

.table td {
  text-align: center;
}

.custom-btn {
    width: 80px;
}